
 .logo {
     height: 40px;
     width: 110px;
     margin-top: 10px;
     margin-left: 3%;
 }
  
.bar {
    background-color: #333;
}

 .input {
    height: 40px;
    width: 50%;
    margin-left: 8%;
    padding-left: 30px;
    background-color:#fafafa;
    vertical-align: top;
    margin-top: 10px;
    font-size: 14px;
 }

 .search {
     margin-top: 13px;
     height: 35px;
     width: 35px;
     margin-left: -40px;
     vertical-align: top;
 }

 #lupitabuscadoradeheroes {
     cursor: pointer;
 }